In [2]:
import numpy as np
import pandas as pd
date = pd.read_csv('orders.csv')
time = pd.read_csv('message.csv')
date.head()

   date  product_id  city_id  orders  Unnamed: 4
0   783  10/12/2019     7425      22           9
1   784    2/8/2019     2331      26          69
2   785   8/11/2019      582      26           3
3   786   11/7/2019     3076      18          11
4   787  11/28/2019     7427      28           1

In [3]:
time.head()

   date              msg                                         Unnamed: 2
0   783    5/7/2014 0:28            Познакомлюсь с девушкой для инт.смс ммс
1   784  11/30/2013 0:22              хочу любви! где ты мой мужчина? Диана
2   785   11/6/2013 0:26  одинокий П33 позн с одинок ласк девушк для дру...
3   786  12/23/2013 0:23                                            Февраль
4   787  7/28/2012 23:58                              М+М сейчас 0980024767