In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('customer.csv')

In [5]:
df.sample(5)

    age  gender   review education purchased
46   64  Female     Poor        PG        No
43   27    Male     Poor        PG        No
42   30  Female     Good        PG       Yes
38   45  Female     Good    School        No
34   86    Male  Average    School        No

In [6]:
df = df.iloc[:,2:]

In [7]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [10]:
from sklearn.model_selection import  train_test_split

df.iloc[:,0:2] selects all rows (:) and the columns from index 0 to 1 (excluding 2). It represents the subset of the DataFrame containing the features.

df.iloc[:,-1] selects all rows (:) and the last column (-1). It represents the subset of the DataFrame containing the target variable.

In [11]:
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [8]:
from sklearn.preprocessing import  OrdinalEncoder

In [12]:
X_train

     review education
31     Poor    School
42     Good        PG
25     Good    School
13  Average    School
46     Poor        PG
19     Poor        PG
5   Average    School
43     Poor        PG
17     Poor        UG
39     Poor        PG
41     Good        PG
28     Poor    School
3      Good        PG
8   Average        UG
35     Poor    School
48     Good        UG
45     Poor        PG
11     Good        UG
36     Good        UG
30  Average        UG
33     Good        PG
0   Average    School
44  Average        UG
6      Good    School
22     Poor        PG
1      Poor        UG
7      Poor    School
14     Poor        PG
49     Good        UG
37  Average        PG
16     Poor        UG
40     Good    School
38     Good    School
10     Good        UG
9      Good        UG
24  Average        PG
34  Average    School
32  Average        UG
12     Poor    School
2      Good        PG

In [13]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [14]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [15]:
X_train = oe.transform(X_train)

In [16]:
X_train

array([[0., 0.],
       [2., 2.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [0., 0.],
       [2., 1.],
       [0., 2.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [2., 2.],
       [1., 0.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [0., 1.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [2., 1.],
       [1., 2.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [2., 2.]])

In [17]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()

In [20]:
le.fit(y_train)

LabelEncoder()

In [21]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [22]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [23]:
y_train

array([1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0])